*.fastq*
*.bam *.bai *.cram *.crai *.sam
*.vcf* *.bcf* *.tbi *.csi
*.fai *.dict *.amb *.ann *.bwt *.pac *.sa
*.zip *.tgz *.tar.gz
tmp/ sra/
qc/ trim/ ref/

# ignore giant Trimmomatic log
logs/trimmomatic.log
